.modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
  }
  
  .modal-content {
    padding: 20px;
  }
  .modal-dialog {
  max-width: 900px;
  margin: 1.75rem auto;
}

.modal-content {
  padding: 20px;
}

form {
    width: 100%;
  }
  

  .btn-success {
    margin-right: 1rem;
  }
  