<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Lista Liname</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="../../../../assets/images/logoS.png">

        <!-- DataTables -->
        <link href="../../../../assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="../../../../assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />


        <!-- Responsive datatable examples -->
        <link href="../../../../assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />   
        
        <link href="../../../../assets/libs/alertifyjs/build/css/alertify.min.css" rel="stylesheet" type="text/css" />
        <link href="../../../../assets/libs/alertifyjs/build/css/themes/default.min.css" rel="stylesheet" type="text/css" />

        <!-- Bootstrap Css -->
        <link href="../../../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="../../../../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="../../../../assets/css/app.min.css" rel="stylesheet" type="text/css" />

        <link href="../../../../assets/css/style.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">


         <!-- Selectize -->
         <link href="assets/libs/selectize/css/selectize.css" rel="stylesheet" type="text/css" />

        <!-- spectrum colorpicker -->
        <link href="assets/libs/spectrum-colorpicker/spectrum.css" rel="stylesheet" type="text/css" />

        <!-- datepicker -->
        <link href="assets/libs/air-datepicker/css/datepicker.min.css" rel="stylesheet" type="text/css" />

        <link href="assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />


    </head>

    <body data-topbar="colored">

        <!-- Begin page -->
        <div id="layout-wrapper">

            <div th:insert ="~{layout/topbar :: topbar}"></div>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div th:insert="~{layout/sidebar :: sidebar}"></div>
                
            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">

                    <!-- Page-Title -->
                    <div class="page-title-box">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <h4 class="page-title mb-1">Historial Liname</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Liname</a></li>
                                    <li class="breadcrumb-item active">Historial Liname</li>
                                    </ol>
                                </div>
                                <div class="col-md-4">
                                    <div class="float-right d-none d-md-block">
                                        <div class="dropdown">
                                            <button class="btn btn-light btn-rounded dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="mdi mdi-settings-outline mr-1"></i> Settings
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->

                    <div class="page-content-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="text-right mb-3">
                                                <button type="button" style="margin-left: 0%;" class="btn btn-danger btn-sm waves-effect waves-light" data-placement="top" title="Registate" 
                                                data-toggle="modal" data-target="#exampleModalScrollable1"><i class="mdi mdi-plus-thick"></i>Registrar</button>
                                            </div>
                                            <!-- <h4 class="header-title"></i>Lista Usuarios</h4> -->
                                          
                                            <div class="table-responsive">
                                                <table class="table table-centered mb-0">
                                                    <tbody>
                                                        <!-- <tr>
                                                            <td>Scrollable modal</td> -->
                                                            <td>
                                                                <!-- Small modal -->
                                                                <div class="modal fade" id="exampleModalScrollable1" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-scrollable">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">Ingresar Datos</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form class="needs-validation" action="../../../../saveHistorial" method="post">
                                                                                    <input type="hidden" th:field="${historialLiname.idHistorialLiname}">
                                                                                    <div>
                                                                                        <div class="row">
                                                                                            <div class="col-sm-6">
                                                                                                <label for="validationCustom01">Medicamento</label>
                                                                                                <div class="form-group form-group-custom mb-6">
                                                                                                    <select class="selectize" name="listaLiname" >
                                                                                                      <option value="">Elegir..</option>
                                                                                                      <th:block th:each="ls: ${listaLinames}" th:if="${ls.estadoLiname != 'X'}">
                                                                                                        <option th:value="${ls.idLiname}" th:text="${ls.medicamento}"></option>
                                                                                                      </th:block>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-sm-6">
                                                                                                <label for="validationCustom01">Concentracion</label>
                                                                                                <div class="form-group form-group-custom mb-6">
                                                                                                    <select class="selectize" name="listaLiname" >
                                                                                                      <option value="">Elegir..</option>
                                                                                                      <th:block th:each="ls: ${listaLinames}" th:if="${ls.estadoLiname != 'X'}">
                                                                                                        <option th:value="${ls.idLiname}" th:text="${ls.concentracion}"></option>
                                                                                                      </th:block>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-sm-6">
                                                                                                <label for="validationCustom01">Precio</label>
                                                                                                <div class="form-group form-group-custom mb-6">
                                                                                                    <input type="text" name="historialLiname" th:field="${historialLiname.precio}" placeholder="0.00$"
                                                                                                        class="form-control" id="historialLiname" required>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-sm-6">
                                                                                                <label for="validationCustom01">Observacion</label>
                                                                                                <div class="form-group form-group-custom mb-6">
                                                                                                    <input type="text" name="historialLiname" th:field="${historialLiname.observacion}" placeholder="Descripcion"
                                                                                                        class="form-control" id="historial1" required>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-sm-6">
                                                                                                <label for="validationCustom01">Fecha</label>
                                                                                                <div class="form-group form-group-custom mb-6">
                                                                                                    <input type="date" name="historialLiname" th:field="${historialLiname.fechaHistorialLiname}" placeholder="last name"
                                                                                                        class="form-control" id="historial2" required>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-sm-6">
                                                                                                <label for="validationCustom01">Codigo Liname</label>
                                                                                                <div class="form-group form-group-custom mb-6">
                                                                                                    <select class="selectize" name="listaLiname" >
                                                                                                      <option value="">cod liname..</option>
                                                                                                      <th:block th:each="ls: ${listaLinames}" th:if="${ls.estadoLiname != 'X'}">
                                                                                                        <option th:value="${ls.idLiname}" th:text="${ls.codigoLiname}"></option>
                                                                                                      </th:block>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div><!-- /.modal-content -->
                                                                    </div><!-- /.modal-dialog -->
                                                                </div><!-- /.modal -->
                                                             <div class="modal fade" id="exampleModalScrollableH" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitleL" aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-scrollable">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">Datos Personales</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form class="needs-validation" action="../../../../SaveHistorial" method="post">

                                                                                    <div id="replace_divHistorial">
                                                                                        
                                                                                    </div>
                                                                                    
                                                                                </form>
                                                                            </div>
                                                                        </div><!-- /.modal-content -->
                                                                    </div><!-- /.modal-dialog -->
                                                                </div><!-- /.modal -->
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                     
                                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap botonesH" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <thead>
                                                    <tr>
                                                        <th>Medicamento</th>
                                                        <th>Concentracion</th>
                                                        <th>Precio</th>
                                                        <th>Observacion</th>
                                                        <th>Cod Liname</th>
                                                        <th>Fecha</th>
                                                        <th> </th> 
                                                    </tr>
                                                </thead>
            
                                                <tbody>
                                                    <tr th:each="h : ${historiales}" th:if="${h.estadoHistorialLiname != 'X'}">
                                                        <td th:text="${h.lista_liname.medicamento}"></td>
                                                        <td th:text="${h.lista_liname.concentracion}"></td>
                                                        <td th:text="${h.precio}"></td>
                                                        <td th:text="${h.observacion}"></td>
                                                        <td th:text="${h.lista_liname.codigoLiname}"></td>
                                                        <td th:text="${h.fechaHistorialLiname}"></td>
                                                        <!-- <td th:text="${h.tipo_uso.nombreTipoUso}"></td> -->
                                                         <!-- <td th:text="${l.persona.apPaterno + '  ' + p.persona.apMaterno}"></td> -->
                                                         <td>
                                                            <div class="row justify-content-center">
                                                                <div class="mb-2">
                                                                    <a th:href="${'../../../../eliminHistorial/' + h.idHistorialLiname}">
                                                                        <button type="button" class="btn btn-outline-danger alertElimin btn-sm"
                                                                            style="margin: 3px; padding: 5px;">
                                                                            <i class="dripicons-trash"></i>
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-3 col-6 mb-2">
                                                                    <a style="padding: 2px; display: inline-block; margin: 0px;">
                                                                        <button type="button" class="btn btn-primary btn-sm waves-effect waves-light editarButton"
                                                                            data-toggle="modal" th:data-target="${'#exampleModalScrollableH'}"
                                                                            th:data-idhistorial="${h.idHistorialLiname}" onclick="buscar(this)" style="margin: 3px; padding: 5px;">
                                                                            <i class="dripicons-document-edit"></i>
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                </div>
                <!-- End Page-content -->

                <div th:insert ="~{layout/footer :: footer}"></div>
            
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
        <div th:insert="~{layout/right-sidebar :: right-sidebar}"></div>
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

         <!-- JAVASCRIPT -->
         <script src="../../../../assets/libs/jquery/jquery.min.js"></script>
         <script src="../../../../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
         <script src="../../../../assets/libs/metismenu/metisMenu.min.js"></script>
         <script src="../../../../assets/libs/simplebar/simplebar.min.js"></script>
         <script src="../../../../assets/libs/node-waves/waves.min.js"></script>

         <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>

         <!-- Required datatable js -->
         <script src="../../../../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
         <script src="../../../../assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
         
         <!-- Buttons examples -->
         <script src="../../../../assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
         <script src="../../../../assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
         <script src="../../../../assets/libs/jszip/jszip.min.js"></script>
         <script src="../../../../assets/libs/pdfmake/build/pdfmake.min.js"></script>
         <script src="../../../../assets/libs/pdfmake/build/vfs_fonts.js"></script>
         <script src="../../../../assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
         <script src="../../../../assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
         <script src="../../../../assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
         <!-- Responsive examples -->
         <script src="../../../../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
         <script src="../../../../assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
 
         <!-- Datatable init js -->
         <script src="../../../../assets/js/pages/datatables.init.js"></script>
 
         <!-- alert -->
         <script src="../../../../assets/libs/alertifyjs/build/alertify.min.js"></script>
         <script src="../../../../assets/js/pages/alertifyjs.init.js"></script>

         <script src="../../../../assets/js/pages/vistaPass.js"></script>
         <script src="../../../../assets/js/pages/calendario.js"></script>
         <script src="../../../../assets/js/pages/data.js"></script>


            <!-- parsleyjs -->
        <script src="../../../../assets/libs/parsleyjs/parsley.min.js"></script>
        <!-- validation init -->
        <script src="../../../../assets/js/pages/form-validation.init.js"></script>

        <!-- modal-->
        <script src="../../../../assets/js/pages/modalHistorial.js"></script>

        
        <!-- Spectrum colorpicker -->
        <script src="assets/libs/spectrum-colorpicker/spectrum.js"></script>

        <!-- Selectize -->
        <script src="assets/libs/selectize/js/standalone/selectize.min.js"></script>

        <!-- datepicker -->
        <script src="assets/libs/air-datepicker/js/datepicker.min.js"></script>
        <script src="assets/libs/air-datepicker/js/i18n/datepicker.en.js"></script>

        <script src="assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
        <script src="assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

        <!-- Form Advanced init -->
        <script src="assets/js/pages/form-advanced.init.js"></script>

        <script src="assets/js/app.js"></script>

</body>
</html>
