<div th:fragment="scripts">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../../../assets/libs/jquery/jquery.min.js"></script>
    <script src="../../../../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../../assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="../../../../assets/libs/simplebar/simplebar.min.js"></script>
    <script src="../../../../assets/libs/node-waves/waves.min.js"></script>

    <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>

    <!-- Required datatable js -->
    <script src="../../../../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../../../assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <!-- Buttons examples -->
    <script src="../../../../assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../../../assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="../../../../assets/libs/jszip/jszip.min.js"></script>
    <script src="../../../../assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="../../../../assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="../../../../assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../../../../assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../../../../assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="../../../../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../../../assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="../../../../assets/js/pages/datatables.init.js"></script>



    <script src="../../../../assets/js/pages/vistaPass.js"></script>
    <script src="../../../../assets/js/pages/calendario.js"></script>
    <script src="../../../../assets/js/pages/data.js"></script>


    <!-- parsleyjs -->
    <script src="../../../../assets/libs/parsleyjs/parsley.min.js"></script>
    <!-- validation init -->
    <script src="../../../../assets/js/pages/form-validation.init.js"></script>

    <!-- modal-->
    <script src="../../../../assets/js/pages/modal.js"></script>


    <!-- Spectrum colorpicker -->
    <script src="../../../../assets/libs/spectrum-colorpicker/spectrum.js"></script>

    <!-- Selectize -->
    <script src="../../../../assets/libs/selectize/js/standalone/selectize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="../../../../assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="../../../../assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

    <!-- Form Advanced init -->
    <script src="../../../../assets/js/pages/form-advanced.init.js"></script>

    <script src="../../../../assets/js/app.js"></script>

    <script src="../../../../assets/js/pages/dayjs.min.js"></script>
    <script src="../../../../assets/js/pages/datepicker-bs4.js"></script>
    <script src="../../../../assets/js/pages/swallAlert2.js"></script>
    <script src="../../../../assets/js/js-dateTimePicker-bs4/bootstrap-datetimepicker.js"></script>
    <script src="../../../../assets/js/js-dateTimePicker-bs4/bootstrap-datetimepicker.min.js"></script>

    <script src="../../../../assets/js/js-dateTimePicker-bs4/locales/bootstrap-datetimepicker.es.js"></script>
   
</div>