
<div th:fragment="sidebar">
    <div class="vertical-menu">
        <div data-simplebar class="h-100">
    
            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
    
<ul class="metismenu list-unstyled" id="side-menu">
     <li class="menu-title">Menu del sistema</li>
     
    <th:block th:each="p : ${session.sessionlPadres}">
        <th:block th:if="${p.idEnlace.obs == '0'}">
            <li class="treeview">
                <a href="#">
                    
           <div class="d-inline-block icons-sm mr-1"><i class="fas fa-plus-circle" style="font-size: 22px; color: rgba(223, 5, 5, 0.945)"></i></div>
                    <span th:text="${p.idEnlace.nombre_enlace}"></span>
                 
                </a>
              <ul class="sub-menu" aria-expanded="false">
                    <th:block th:each="hijos : ${session.sessionlPadres}">
                        <th:block th:if="${p.idEnlace.idEnlace == hijos.idEnlace.tabla}">
                            <th:block th:if="${hijos.idEnlace.obs == '1'}">
                                <li>
                                    <a th:href="${hijos.idEnlace.ruta}" th:text="${hijos.idEnlace.nombre_enlace}"></a>
                                </li>
                            </th:if>
                        </th:if>
                    </th:each>
                </ul>
            </li>
        </th:if>
    </th:each>
</ul>

    
            </div>
            <!-- Sidebar -->
        </div>
    </div>
</div>

<!-- Left Sidebar End -->