<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Lista DIP | SISU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../../../../assets/images/logoS.png">

    <!-- DataTables -->
    <link href="../../../../assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../../../../assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="../../../../assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
        rel="stylesheet" type="text/css" />

    <link href="../../../../assets/libs/alertifyjs/build/css/alertify.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../../assets/libs/alertifyjs/build/css/themes/default.min.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="../../../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="../../../../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="../../../../assets/css/app.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <style>
        .page-content-wrapper {
            animation: fadeIn 1.5s;
        }

        #welcomeText {
            color: rgb(165, 12, 12);
        }

        #animateButton {
            background-color: rgb(10, 10, 185); /* Cambia el color del botón a azul */
            color: white; /* Cambia el color del texto del botón a blanco */
        }

        .fa-frog {
            animation: bounce 1s infinite; /* Aplica la animación "bounce" a las ranas */
        }
    </style>
   
</head>

<body data-topbar="colored">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <div th:insert="~{layout/topbar :: topbar}"></div>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div th:insert="~{layout/sidebar :: sidebar}"></div>

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">

                <!-- Page-Title -->
                <div class="page-title-box">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h4 class="page-title mb-1">UNIDAD DE DESARROLLO</h4>
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                                    <li class="breadcrumb-item active">Data Tables</li>
                                </ol>
                            </div>
                            <div class="col-md-4">
                                <div class="float-right d-none d-md-block">
                                    <div class="dropdown">
                                        <button class="btn btn-light btn-rounded dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="mdi mdi-settings-outline mr-1"></i> OPCIONES
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated">
                                           
                                            <div class="dropdown-divider"></div>
                                            
                                            <form th:action="@{${url}}" method="get">
                                               
                                                <input type="submit" th:value="${nameButton1}"></input>
                                              </form>

                                            <div class="dropdown-divider"></div>

                                            <!-- <a class="dropdown-item" href="#">Separated link</a> -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="page-content-wrapper">

                    <div class="card">
                        <div class="card-body" style="text-align: center;">
            
                            <!-- <div id="welcomeText" class="animate__animated animate__bounce" style="font-size: 50px;">
                                <i class="fas fa-frog"></i>
                                <span class="animated-text">Hola, Por favor termina tu Módulo</span>
                                <i class="fas fa-frog"></i>
                            </div> -->
            
                            <button id="animateButton" type="button" class="btn btn-primary btn-lg btn-block waves-effect waves-light" style="font-size: 18px;">
                                <i class="mdi mdi-spin mdi-star"></i><i class="mdi mdi-alpha-s-box"></i><i class="mdi mdi-alpha-i-box"></i><i class="mdi mdi-alpha-s-box"></i><i class="mdi mdi-alpha-u-box"></i><i class="fas fa-ambulance"></i>
                            </button>
            
                        </div>
                    </div>
                </div>

        <div th:insert="~{layout/footer :: footer}"></div>
    </div>
    </div>
    <div th:insert="~{layout/right-sidebar :: right-sidebar}"></div>
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../../../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../../../assets/libs/metismenu/metisMenu.min.js"></script>
<script src="../../../../assets/libs/simplebar/simplebar.min.js"></script>
<script src="../../../../assets/libs/node-waves/waves.min.js"></script>
<script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>

<!-- Required datatable js -->
<script src="../../../../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../../../assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Buttons examples -->
<script src="../../../../assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../../../assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="../../../../assets/libs/jszip/jszip.min.js"></script>
<script src="../../../../assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="../../../../assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="../../../../assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../../../../assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../../../../assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="../../../../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../../../assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="../../../../assets/js/pages/datatables.init.js"></script>

<!-- alert -->
<script src="../../../../assets/libs/alertifyjs/build/alertify.min.js"></script>
<script src="../../../../assets/js/pages/alertifyjs.init.js"></script>



<script src="../../../../assets/js/app.js"></script>
</body>

</html>