<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head> 

     <!-- DataTables -->
     <link href="../../../../assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet"
     type="text/css" />
 <link href="../../../../assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet"
     type="text/css" />

<!-- spectrum colorpicker -->
<link href="../../../../assets/libs/spectrum-colorpicker/spectrum.css" rel="stylesheet" type="text/css" />

<!-- Selectize -->
<link href="../../../../assets/libs/selectize/css/selectize.css" rel="stylesheet" type="text/css" />

<!-- datepicker -->
<link href="../../../../assets/libs/air-datepicker/css/datepicker.min.css" rel="stylesheet" type="text/css" />

<link href="../../../../assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

<!-- Bootstrap Css -->
<link href="../../../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="../../../../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="../../../../assets/css/app.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div th:fragment="content1">
        
        <div class="form-group mb-0">
            <label>Multiple Item</label>
            <select class="selectize" multiple >
                <th:block th:each="r : ${roles}" th:if="${r.estado !='X'}"> <br>
                    <option th:text="${r.rol}"  value="">Select a state...</option>
                </th:block>
              
          
            </select>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../../../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../../assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="../../../../assets/libs/simplebar/simplebar.min.js"></script>
    <script src="../../../../assets/libs/node-waves/waves.min.js"></script>
    <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>

    <!-- Required datatable js -->
    <script src="../../../../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../../../assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <!-- Buttons examples -->
    <script src="../../../../assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../../../assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="../../../../assets/libs/jszip/jszip.min.js"></script>
    <script src="../../../../assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="../../../../assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="../../../../assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../../../../assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../../../../assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="../../../../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../../../assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="../../../../assets/js/pages/datatables.init.js"></script>

     <!-- Spectrum colorpicker -->
     <script src="../../../../assets/libs/spectrum-colorpicker/spectrum.js"></script>

     <!-- Selectize -->
     <script src="../../../../assets/libs/selectize/js/standalone/selectize.min.js"></script>

     <!-- datepicker -->
     <script src="../../../../ssets/libs/air-datepicker/js/datepicker.min.js"></script>
     <script src="../../../../assets/libs/air-datepicker/js/i18n/datepicker.en.js"></script>

     <script src="../../../../assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
     <script src="../../../../assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

     <!-- Form Advanced init -->
     <script src="../../../../assets/js/pages/form-advanced.init.js"></script>

     <script src="../../../../assets/js/app.js"></script>
</body>


</html>