<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>FICHA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/logoS.png">

    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- btnficha -->
    <link rel="stylesheet" href="assets/css/btnficha.css">




</head>

<body>

    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <a href="ficha" class="logo"><img src="../../../../assets/images/logoS.png" height="100"
                                alt="logo"></a>
                        <h4 class="mt-4">Servicio Integral de Salud Universitaria</h4>
                        <p class="text-muted">Universidad Amazonica de Pando</p>

                        <div class="row justify-content-center mt-5">
                            <div class="col-lg-4 bounce-top">
                                <div class="card">
                                    <div class="card-body sombre">
                                        <div>
                                            <div class="icons-lg mb-4">
                                                <i class="uim uim-comment-alt-message"></i>
                                            </div>
                                            <div>
                                                <h5 class="font-size-15 text-uppercase font-weight-bold ">
                                                    Si ficha es:</h5>
                                                <p class="text-muted mb-0">If you are going to use a passage, you need
                                                    to be sure there isn't anything embar.. <a href="mailto:no-reply@domain.com"
                                                        class="text-decoration-underline">no-reply@domain.com</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div> <!-- end row-->
                    </div>
                </div>
                <div class="col-12" style="text-align: center;">
                    <a href="/inicioCliente">
                    <button type="button" class="btn btn-dark btn-lg waves-effect waves-light sombre"><i class="fas fa-solid fa-reply-all"></i> Volver</button>
                     </a>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end Account pages -->

    <!-- JAVASCRIPT -->
    <script src="assets/libs/jquery/jquery.min.js"></script>
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <script src="assets/libs/node-waves/waves.min.js"></script>

    <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>

    <!-- Plugins js-->
    <script src="assets/libs/jquery-countdown/jquery.countdown.min.js"></script>

    <!-- Countdown js -->
    <script src="assets/js/pages/coming-soon.init.js"></script>
    <!-- Countdown js -->
    <script src="assets/js/pages/ficha.js"></script>

    <script src="assets/js/app.js"></script>

</body>

</html>