<div th:fragment="contentM">
    <form id="form1" th:action="@{asignar_medico}" method="post">
        <div class="modal-body">
           

            <input id="idFicha" th:name="idFicha" th:value="${idFicha}" type="hidden">
            
            <div class="form-group row">
                <label for="example-time-input" class="col-md-4 col-form-label">MEDICO DE SERVICIO</label>
                <div class="col-md-8">
                    <select th:field="${personalMedico.idPersonalMedico}" id="select1" class="js-example-basic-single" style="width: 100%;" required>
        
                        <th:block th:each="m : ${p_medicos}">
                            <option th:text="${m.persona.nombres+' '+m.persona.apPaterno+' '+m.persona.apMaterno}"
                                th:value="${m.idPersonalMedico}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <!-- <div class="form-group row">
                <label for="example-time-input" class="col-md-4 col-form-label">HORARIO DE ATENCIÓN</label>
                <div class="col-md-8">
                    <select  name="horario" class="js-example-basic-single" style="width: 100%;" required>
                        <option value="" selected>Seleccione...</option>
        
                        <th:block th:each="h : ${horarios_s}">
                            <option th:text="${h.horarios.dia+' '+ h.horarios.hora}"
                                th:value="${h.horarios.horario}"></option>
                        </th:block>
                    </select>
                </div>
            </div> -->

            <!-- <div class="form-group row">
                <label for="example-time-input" class="col-md-4 col-form-label">HORARIO DE ATENCIÓN</label>
                <div class="col-md-8">
                   
                    <input type="text" class="form-control datepicker-here" name="fechaAtencion"
                     placeholder="Introduce fecha" required>
                </div>
            </div> -->
            <div class="form-group row">
                <label for="example-datetime-local-input" class="col-md-4 col-form-label">HORARIO DE ATENCIÓN</label>
                <div class="col-md-8">
                    <input class="form-control" type="datetime-local" name="fechaAtencion" value="2024-05-22T14:00:00" id="example-datetime-local-input">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">CANCELAR</button>
            <button type="submit" class="btn btn-outline-success">ENVIAR</button>
        </div>
     
    </form>

   <script>
    $(document).ready(function(){
        $('#form1').submit(function(event) {
            event.preventDefault();
            var form = document.getElementById("form1"); 
            var action = form.action;
            var formData = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                contentType: 'application/x-www-form-urlencoded',
                success: function(response) {
                    var mensaje = response;
                    if (mensaje == "1") {
                        Swal.fire({
                            title: 'Asignación Realizada con Éxito!',
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        setTimeout(function () {
                            location.href = "../../../../listaFichasGeneral";
                        }, 1500);
                    } else{
                        Swal.fire({
                            title: 'Limite de Fichas Asignadas para este Medico!',
                            icon: "warning",
                            showConfirmButton: false,
                            timer: 2000
                        });
                        setTimeout(function () {
                            location.href = "../../../../listaFichasGeneral";
                        }, 2000);  
                    }
                },
                error: function(xhr, status, error) {
                    toastr.error('Ha ocurrido un error. Por favor, intenta nuevamente. ' + xhr, status, error);
                    console.error(error);
                }
            });
        });
    });
   </script>
</div>