<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Historial Seguro | SISU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href=".../../../../assets/images/logoS.png">

    <!-- Bootstrap Css -->
    <link href="../../../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="../../../../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="../../../../assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- btnficha -->
    <link rel="stylesheet" href="../../../../assets/css/btnficha.css">

</head>

<body>
    <!-- <div class="home-btn d-none d-sm-block">
        <a href="index.html"><i class="mdi mdi-home-variant h2"></i></a>
    </div> -->

    <div class="account-pages my-3 pt-sm-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-2">
                        <img src="../../../../assets/images/logoS.png" height="100" alt="logo">
                        <h4 class="mt-4">Servicio Integral de Salud Universitaria</h4>
                        <p class="text-muted">Universidad Amazonica de Pando</p>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">

                <div class="col-lg-2"></div>
                <div class="col-lg-8 scale-down-center">
                    <div class="card sombre">
                        <div class="card-body">
                            <div class="modal-header text-center scale-down-center">
                                <h5 class="modal-title mt-0" id="myModalLabel">Datos del Asegurado</h5>
                            </div>
                            <p></p>
                            <form class="needs-validation" action="../../../../vistaHistorialSeguro" method="post">
                                <input type="hidden" th:field="${historial_seguro.idHistorialSeguro}">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Nombre:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="text" name="historial_seguro"
                                                th:value="${historial_seguro.asegurado.persona.nombres}"
                                                placeholder="cod.." class="form-control" id="personaAdministrativo1"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Apellido
                                            Paterno:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="text" name="historial_seguro"
                                                th:value="${historial_seguro.asegurado.persona.apPaterno}"
                                                placeholder="text.." class="form-control" id="personaAdministrativo2"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Apellido
                                            Materno:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="text" name="historial_seguro"
                                                th:value="${historial_seguro.asegurado.persona.apMaterno}"
                                                placeholder="text.." class="form-control" id="personaAdministrativo2"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Fecha
                                            Nacimiento:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="date" name="historial_seguro"
                                                th:value="${historial_seguro.asegurado.persona.fecha_nac}"
                                                placeholder="text.." class="form-control" id="personaAdministrativo2"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Grado
                                            Academico:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="text" name="historial_seguro"
                                                th:value="${historial_seguro.asegurado.persona.grado_academico.nombre_gradoAcademico}"
                                                placeholder="cod.." class="form-control" id="personaAdministrativo1"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Estado Civil:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="text" name="historial_seguro"
                                                th:value="${historial_seguro.asegurado.persona.tipos_estado_civil.NomEstadoCivil}"
                                                placeholder="text.." class="form-control" id="personaAdministrativo2"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Ci:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="text" name="historial_seguro"
                                                th:value="${historial_seguro.asegurado.persona.ci}" placeholder="cod.."
                                                class="form-control" id="personaAdministrativo1" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Expedido:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="text" name="historial_seguro"
                                                th:value="${historial_seguro.asegurado.persona.dip.codDip}"
                                                placeholder="text.." class="form-control" id="personaAdministrativo2"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Genero:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="text" name="historial_seguro"
                                                th:value="${historial_seguro.asegurado.persona.sexo}"
                                                placeholder="text.." class="form-control" id="personaAdministrativo2"
                                                required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Codigo Seguro
                                            Principal:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="text" name="historial_seguro"
                                                th:value="${historial_seguro.codigoSeguroPrincipal}" placeholder="cod.."
                                                class="form-control" id="personaAdministrativo1" required>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Tipo
                                            Asegurado:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="text" name="historial_seguro"
                                                th:value="${historial_seguro.tipo_seguro.tipoSeguro}"
                                                placeholder="text.." class="form-control" id="historial_seguro"
                                                required>
                                        </div>
                                    </div> -->
                                    <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Tipo Asegurado:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="text" name="historial_seguro"
                                                th:value="${historial_seguro != null and historial_seguro.tipo_seguro != null ? historial_seguro.tipo_seguro.tipoSeguro : ''}"
                                                placeholder="text.." class="form-control" id="historial_seguro" required>
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Institucion:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="text" name="historial_seguro"
                                                th:value="${historial_seguro.institucion.nombreInstitucion}"
                                                placeholder="text.." class="form-control" id="historial_seguro"
                                                required>
                                        </div>
                                    </div> -->
                                    <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Institucion:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="text" name="historial_seguro"
                                                th:value="${historial_seguro != null and historial_seguro.institucion != null ? historial_seguro.institucion.nombreInstitucion : ''}"
                                                placeholder="text.." class="form-control" id="historial_seguro" required>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Fecha Alta:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="datetime-local" name="historial_seguro"
                                                th:value="${historial_seguro.fechaAlta}" placeholder="cod.."
                                                class="form-control" id="personaAdministrativo1" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="validationCustom01" style="font-weight: bold;">Fecha Baja:</label>
                                        <div class="form-group form-group-custom mb-6 ">
                                            <input type="datetime-local" name="historial_seguro"
                                                th:value="${historial_seguro.fechaBaja}" placeholder="text.."
                                                class="form-control" id="historial_seguro" required>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-4 text-center" style="border-radius: 5%;">
                                        <label for="validationCustom01" style="font-weight: bold;">Status:</label>
                                        <div class="form-group form-group-custom mb-6">
                                            <span
                                                th:class="${historial_seguro.estado_seguro.tipoEstado == 'ACTIVO' ? 'badge badge-success' : 'badge badge-danger'}"
                                                style="font-size: 160%;">
                                                <th:block class="sombre"
                                                    th:text="${historial_seguro.estado_seguro.tipoEstado}"></th:block>
                                            </span>
                                        </div>
                                    </div> -->
                                    <div class="col-sm-4 text-center" style="border-radius: 5%;">
                                        <label for="validationCustom01" style="font-weight: bold;">Status:</label>
                                        <div class="form-group form-group-custom mb-6">
                                            <span th:if="${historial_seguro != null and historial_seguro.estado_seguro != null}"
                                                th:class="${historial_seguro.estado_seguro.tipoEstado == 'ACTIVO' ? 'badge badge-success' : 'badge badge-danger'}"
                                                style="font-size: 160%;">
                                                <th:block class="sombre" th:text="${historial_seguro.estado_seguro.tipoEstado}"></th:block>
                                            </span>
                                        </div>
                                    </div>
                                    
                                </div>
                                <hr style="padding: 1%;">
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="/fichasAsegurado">
                                                <button type="button"
                                                    class="btn btn-dark btn-lg waves-effect waves-light sombre"><i
                                                        class="fas fa-solid fa-reply-all"></i> Volver</button>
                                            </a>
                                        </div>
                                        <div class="col-6">
                                            <a th:href="${'/formHistorialClinico/'+historial_seguro.idHistorialSeguro}">
                                                <button type="button"
                                                class="btn btn-primary btn-lg waves-effect waves-light sombre">
                                                    Historial Clinico <i class="fas fa-solid fa-file-medical"></i> </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end Account pages -->

    <!-- JAVASCRIPT -->
    <script src="../../../../assets/libs/jquery/jquery.min.js"></script>
    <script src="../../../../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../../assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="../../../../assets/libs/simplebar/simplebar.min.js"></script>
    <script src="../../../../assets/libs/node-waves/waves.min.js"></script>

    <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>


    <script src="../../../../assets/js/app.js"></script>

</body>

</html>