<!doctype html>
<html lang="en">

<head th:insert="~{layout/head :: head}">

    <style>
        /* Asegúrate de que el datepicker tenga un z-index mayor que el modal */
        .datepicker {
            z-index: 1051 !important; /* el valor debe ser mayor que el z-index del modal */
        }
    </style>
</head>

<body data-topbar="colored">

    <div id="layout-wrapper">

        <div th:insert="~{layout/topbar :: topbar}"></div>
        <div class="vertical-menu">
            <div th:insert="~{layout/sidebar :: sidebar}"></div>
        </div>
        <div class="main-content">
            <div class="page-content">

                <!-- Page-Title -->
                <div class="page-title-box">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h4 class="page-title mb-1">Lista Asegurados</h4>
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Asegurados</a></li>
                                    <li class="breadcrumb-item active">Datos de Personas</li>
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                      
                                        <h4 class="header-title">Asegurados</h4><br>

                                       
                                            
                                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap botonesH" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Nombre:</th>
                                                <th>Apellidos:</th>
                                                <th>ci:</th>
                                                <th>Expedido</th>
                                                <th>Codigo Asegurado:</th>
                                                <th>Genero:</th>
                                                <th>Fecha de Generación</th>
                                               
                                                <th>Accion</th>
                                           
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="f : ${fichas}" th:if="${f.estado != 'X' && f.estado != 'AA'}">
                                                
                                                <td th:if="${f.asegurado != null and f.asegurado.persona != null}" th:text="${f.asegurado.persona.nombres}"></td>
                                              
                                                <td th:if="${f.asegurado != null and f.asegurado.persona != null}" th:text="${f.asegurado.persona.apPaterno + '  ' + f.asegurado.persona.apMaterno}"></td>
                                              
                                                <td th:if="${f.asegurado != null and f.asegurado.persona != null}" th:text="${f.asegurado.persona.ci}"></td>
                                             
                                                <td th:if="${f.asegurado != null and f.asegurado.persona != null and f.asegurado.persona.dip != null}" th:text="${f.asegurado.persona.dip.codDip}"></td>
                                                <td th:if="${f.asegurado != null}" th:text="${f.asegurado.codigoAsegurado}"></td>
                                                <td th:if="${f.asegurado != null and f.asegurado.persona != null}" th:text="${f.asegurado.persona.sexo}"></td>
                                                <td th:if="${f.asegurado != null}" th:text="${#dates.format(f.fechaRegistroFichaa, 'yyyy-MM-dd HH:mm:ss')}"></td>

                                              
                                             

                                             
                                                <td>
                                                    <button type="button" class="btn btn-outline-success btn-block btn" data-toggle="modal" data-target="#success"
                                                    th:data-value="${f.idFicha}" 
                                                    onclick="enviarID(this.getAttribute('data-value'))"
                                                    >
                                                        Asignar
                                                    </button>
                                                </td>
                                             
                                            </tr>
                                        </tbody>
                                    </table>
                               
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div th:insert="~{layout/footer :: footer}"></div>
    </div>
    </div>
    <div class="modal fade text-left" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel9"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success white">
                    <h4 class="modal-title" id="myModalLabel9"><div class="fonticon-wrap">
                        <i class="ft-user-check"></i>
                    </div> ASIGNAR FICHA</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="replace">

                </div>
                
            </div>
        </div>
    </div>
    <div th:insert="~{layout/right-sidebar :: right-sidebar}"></div>
    <!-- <div class="rightbar-overlay"></div> -->
    


     
    <div th:insert="~{layout/scripts :: scripts}"></div>
    <script>
        function enviarID(valor) {
            var url = "../../../../lista_medicos/" + valor;
            $('#replace').load(url, function() {
                // Re-inicializar los plugins aquí
                $('.js-example-basic-single').select2();
                $('input.datepicker-here').datepicker({
                    timepicker: true,
                    language: 'en',
                    dateFormat: 'dd-mm-yyyy'
                });

                // Inicializar el AJAX para el formulario
                $('#form1').submit(function(event) {
                    event.preventDefault();
                    var form = document.getElementById("form1"); 
                    var action = form.action;
                    var formData = $(this).serialize();

                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('action'),
                        data: formData,
                        contentType: 'application/x-www-form-urlencoded',
                        success: function(response) {
                            var mensaje = response;
                            if (mensaje == "1") {
                                Swal.fire({
                                    title: 'Asignación Realizada con Éxito!',
                                    icon: "success",
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                setTimeout(function () {
                                    location.href = "../../../../listaFichasGeneral";
                                }, 1500);
                            } 
                        },
                        error: function(xhr, status, error) {
                            toastr.error('Ha ocurrido un error. Por favor, intenta nuevamente. ' + xhr, status, error);
                            console.error(error);
                        }
                    });
                });
            });
        }
    </script>
</body>

</html>